{% extends 'partials/base.html' %}
{% load static %}

{% block title %} Home{% endblock title %}
{% block name %} {{ name }} {% endblock name %}
{% block content %}

<div class="page-wrapper">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb my-3">
        <div class="row align-items-center">
            <div class="col-12 align-self-center">
                <h3 class="page-title text-center">Dashboard</h3>
            </div>
        </div>
    </div>
    <div id="center" class="row my-4 mx-5 align-content-center">
        <div class="col-3">
            
            <div id="obj" class="card">
                <dic class="card-header-pills">
                <div class="card-header p-3 pt-2">
                    <div class="row">
                        <div class="col-12"><h4>objectif</h></div>
                    </div>
                    <div class="col-12 my-0">
                        <div class="text-end pt-1">
                            
                            <h4 class="mb-1" id="objectif">5000</h4>
                        </div>

                    </div>
                    

                </div>
                
            </div>

        </div>
        <div class="col-3">
            
            <div class="card">
                
                <div class="card-header p-3 pt-2">
                    <div class="row">
                        <div class="col-12" ><h4>norme</h4></div>
                    </div>
                    <div class="col-12 my-0">
                        <div class="text-end pt-1">
                            
                            <h4 class="mb-0" id="norme"></h4>
                        </div>

                    </div>
                    

                </div>
                
            </div>

        </div>



    </div>
    
    <div class="container-fluid">
        <div  id="filter"  class="row my-2">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                                    
                            <div class="row">
                             {% if dot.name == 'ALGER CENTRE' %}   
                             <div class="col-md-4 mb-3">
                                 <label class="form-label">DOT</label>
                                 <select class="form-select" name="DOT" id="DOT">
                                     <option  value="">all</option>
                                 </select>
                             </div>
                             {% endif %}
                             <div class="col-md-4 mb-3">
                                <label class="form-label">CMP</label>
                                <select class="form-select" name="cmp" id="CMP">
                                    <option  value="all">all</option>
                                </select>
                             </div>
                             <div class="col-md-4 mb-3">
                                <label class="form-label">date</label>
                                <input class="form-control" type="date" >

                             </div>
                             
    
                            </div>
                                 
                        
                     </div>
    
                    </div>
                </div>
    
            </div>
    
    
        </div>
        <div class="row">
            
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div>
                                        <h3 class="card-title">Total</h3>
                                        <h6 class="card-subtitle"></h6>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-12">
                                <canvas id="total" height="90"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div>
                                        <h3 class="card-title">Total raccordement client</h3>
                                        <h6 class="card-subtitle"></h6>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-12">
                                <canvas id="totalclient" height="90"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div>
                                        <h3 class="card-title">Binome</h3>
                                        <h6 class="card-subtitle"></h6>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-12">
                                <canvas id="bin" height="90"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div>
                                        <h3 class="card-title">FTTH , DHDB , LA/LS</h3>
                                        <h6 class="card-subtitle"></h6>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-12">
                                <canvas id="dhft" height="90"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</div>


<script>
    let ctx = document.getElementById('total').getContext('2d');
    let total = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                data: [],
                label:['total'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
});
let ctx2 = document.getElementById('totalclient').getContext('2d');
    let totalclient = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                data: [],
                label:['Total raccordement client'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
});
let ctx3 = document.getElementById('bin').getContext('2d');
    let bin = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                data: [],
                label:['binome'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
});
let ctx4 = document.getElementById('dhft').getContext('2d');
    let dhft = new Chart(ctx4, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                data: [],
                label:['FTTH'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            },{
                data: [],
                label:['DHDB'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            },{
                data: [],
                label:['LALS'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }
        ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
});
const norme = document.getElementById("norme");
const objectif = document.getElementById("objectif");

    
let input = null;
    const getData = async (chart1,chart2,chart3,chart4,nor,obj,url) => {
        const resp = await fetch('http://127.0.0.1:8000/api/cmps/?month=1');
        const data = await resp.json();
        if (data.length === 0) {
            chart1.data.datasets[0].data = [];
            chart1.data.labels = [];
            chart1.update();
            chart2.data.datasets[0].data = [];
            chart2.data.labels = [];
            chart2.update();
            chart3.data.datasets[0].data = [];
            chart3.data.labels = [];
            chart3.update();
            chart4.data.datasets[0].data = [];
            chart4.data.labels = [];
            chart4.data.datasets[1].data = [];
            chart4.data.datasets[2].data = [];
            chart4.update();
            obj.textContent=0;
            nor.textContent=0;


        }
        else{
            const binome = data.map(info => info.binome);
            const ftth=data.map(info => info.ftth);
            const la_ls=data.map(info => info.la_ls);
            const total=data.map(info => info.total);
            const date = data.map(info => info.date);
            const dhdb=data.map(info => info.dhdb);
            const today = new Date();
            const todaynor=data.filter(function (obj){
                return obj.date === today.toDateString();
            })
            
            const total_raccordement_client=data.map(info => info.total_raccordement_client);
            

            chart1.data.datasets[0].data = total;
            chart1.data.labels = date;
            chart1.update();

            
            chart2.data.datasets[0].data = total_raccordement_client;
            chart2.data.labels = date;
            chart2.update();


            chart3.data.datasets[0].data = binome;
            chart3.data.labels = date;
            chart3.update();

            chart4.data.datasets[0].data = ftth;
            chart4.data.labels = date;
            chart4.data.datasets[1].data = dhdb;
            chart4.data.datasets[2].data = la_ls;
            chart4.update();
            if (todaynor.length === 0){
                obj.textContent="0";
                nor.textContent="0";
            }
            else{
                obj.textContent=todaynor[0].objectif.toString();
                
                nor.textContent=todaynor[0].norme.toString();
            }
        }
        

        

    }
   

    getData(total,totalclient,bin,dhft,norme,objectif,"").catch(err => console.log(err));
    
</script>
{% if dot.name == 'ALGER CENTRE' %}   
<script>
    

     const changeselect = async (cmp,dot) => {
        const resp = await fetch('http://127.0.0.1:8000/api/dotregion/')
        const data = await resp.json();
        console.log(data);
        while (dot.options.length > 0) {
            dot.remove(0);
        }

        while (cmp.options.length > 0) {
            cmp.remove(0);
        }
        const option = document.createElement('option');
        option.value = "all";
        option.text = "all";
        dot.add(option);
        for (i in data){
            const option = document.createElement('option');
            option.value = data[i].id;
            option.text = data[i].name;
            dot.add(option);
        }
        const resp1 = await fetch('http://127.0.0.1:8000/api/region/')
        const data1 = await resp1.json();
        const option1 = document.createElement('option');
        option1.value = "all";
        option1.text = "all";
        cmp.add(option1);
        for (i in data1){
            const option1 = document.createElement('option');
            option1.value = data1[i].id;
            option1.text = data1[i].name;
            cmp.add(option1);
        }

    const CMP=document.getElementById("CMP");
    const DOT=document.getElementById("DOT");
    }
    changeselect(CMP,DOT).catch(err => console.log(err));
    


</script>

{% endif %}






</body>
</html>





{% endblock content %}