{% extends 'partials/base.html' %}
{% load static %}

{% block title %} Home{% endblock title %}
{% block content %}

<div class="page-wrapper">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb my-3">
        <div class="row align-items-center">
            <div class="col-12 align-self-center">
                <h3 class="page-title text-center">Dashboard</h3>
            </div>
        </div>
    </div>
    <div id="center" class="row my-4 mx-5 align-content-center">
        <div class="col-3">
            
            <div id="obj" class="card">
                <dic class="card-header-pills">
                <div class="card-header p-3 pt-2">
                    <div class="row">
                        <div class="col-12"><h4>objectif</h></div>
                    </div>
                    <div class="col-12 my-0">
                        <div class="text-end pt-1">
                            
                            <h4 class="mb-1">5000</h4>
                        </div>

                    </div>
                    

                </div>
                
            </div>

        </div>
        <div class="col-3">
            
            <div class="card">
                
                <div class="card-header p-3 pt-2">
                    <div class="row">
                        <div class="col-12"><h4>norme</h4></div>
                    </div>
                    <div class="col-12 my-0">
                        <div class="text-end pt-1">
                            
                            <h4 class="mb-0">5000</h4>
                        </div>

                    </div>
                    

                </div>
                
            </div>

        </div>



    </div>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div>
                                        <h3 class="card-title">Infoirmation over-view</h3>
                                        <h6 class="card-subtitle"></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                
                                   <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">DOT</label>
                                        <select class="form-select" name="DOT" id="DOT">
                                            <option  value="">all</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label asp-for="Num" class="form-label">Numéro</label>
                                        <input asp-for="Num" type="text" class="form-control" placeholder="Numéro">
                                    </div>

                                   </div>
                                        
                               
                            </div>
                            
                            <div class="col-12">
                                <canvas id="graphe1" height="90"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div>
                                        <h3 class="card-title">Infoirmation over-view</h3>
                                        <h6 class="card-subtitle"></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                
                                   <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">DOT</label>
                                        <select class="form-select" name="DOT" id="DOT">
                                            <option  value="">all</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label asp-for="Num" class="form-label">Numéro</label>
                                        <input asp-for="Num" type="text" class="form-control" placeholder="Numéro">
                                    </div>

                                   </div>
                                        
                               
                            </div>
                            
                            <div class="col-12">
                                <canvas id="graphe1" height="90"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div>
                                        <h3 class="card-title">Infoirmation over-view</h3>
                                        <h6 class="card-subtitle"></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                
                                   <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">DOT</label>
                                        <select class="form-select" name="DOT" id="DOT">
                                            <option  value="">all</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label asp-for="Num" class="form-label">Numéro</label>
                                        <input asp-for="Num" type="text" class="form-control" placeholder="Numéro">
                                    </div>

                                   </div>
                                        
                               
                            </div>
                            
                            <div class="col-12">
                                <canvas id="graphe1" height="90"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap align-items-center">
                                    <div>
                                        <h3 class="card-title">Infoirmation over-view</h3>
                                        <h6 class="card-subtitle"></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                
                                   <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">DOT</label>
                                        <select class="form-select" name="DOT" id="DOT">
                                            <option  value="">all</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label asp-for="Num" class="form-label">Numéro</label>
                                        <input asp-for="Num" type="text" class="form-control" placeholder="Numéro">
                                    </div>

                                   </div>
                                        
                               
                            </div>
                            
                            <div class="col-12">
                                <canvas id="graphe1" height="90"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</div>





<script>
    let input = null;
    const getData = async () => {
        const resp = await fetch('http://127.0.0.1:8000/api/cmps/?month=1');
        const data = await resp.json()
        const binome = data.map(info => info.binome)
        const cmp_names = data.map(info => info.cmp)
        const date = data.map(info => info.date)
        let ctx = document.getElementById('graphe1').getContext('2d');

        let myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                data: binome,
                labels:['binome'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
});

    }

    getData().catch(err => console.log(err)) 
</script>
<script>

</script>
</body>
</html>





{% endblock content %}